<div class="mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h4>Task Manager</h4>
        <div class="d-flex">
            <form class="mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" name="listFilter" [(ngModel)]="listFilter"
                    placeholder="Search name task..." aria-label="Search">
            </form>
            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalNewTask">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Add task
            </button>
        </div>

        <div class="modal modal-lg fade" id="modalNewTask" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add task</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form #dataForm="ngForm" (submit)="createTask(dataForm)">
                            <div class="form-outline mb-3">
                                <label class="form-label fw-bold" for="name">Name</label>
                                <input type="text" id="name" required ngModel #taskName="ngModel" name="name"
                                    class="form-control" />
                                <div *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)" class="mt-1">
                                    <div class="invalid-input" *ngIf="taskName.errors?.['required']">Name is required</div>
                                </div>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label fw-bold" for="dateStart">Start day</label>
                                <input type="date" id="dateStart" required ngModel #dateStart="ngModel" name="dateStart"
                                    class="form-control" />
                                <div *ngIf="dateStart.invalid && (dateStart.dirty || dateStart.touched)" class="mt-1">
                                    <div class="invalid-input" *ngIf="dateStart.errors?.['required']">Start day is required</div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label fw-bold">Project</label>
                                    <select
                                        class="form-select"
                                        aria-label="Default select example"
                                        required
                                        ngModel
                                        #project="ngModel"
                                        name="projectId"
                                    >
                                        <option disabled value="">Chooses Project</option>
                                        <option
                                            *ngFor="let project of projects " 
                                            value={{project._id}}
                                        >
                                            {{project.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="project.invalid && (project.dirty || project.touched)" class="mt-1">
                                        <div class="invalid-input" *ngIf="project.errors?.['required']">
                                            Please select project!
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label class="form-label fw-bold">Priority</label>
                                    <select class="form-select" aria-label="Default select example" required ngModel
                                        #priority="ngModel" name="priority">
                                        <option disabled value="">Chooses priority</option>
                                        <option value="1">Less Important</option>
                                        <option value="2">Normal</option>
                                        <option value="3">Important</option>
                                    </select>
                                    <div *ngIf="priority.invalid && (priority.dirty || priority.touched)" class="mt-1">
                                        <div class="invalid-input" *ngIf="priority.errors?.['required']">Priority is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label fw-bold">Assign</label>
                                    <select
                                        class="form-select"
                                        aria-label="Default select example"
                                        required
                                        ngModel
                                        #assignedTo="ngModel"
                                        name="userId"
                                    >
                                        <option disabled value="">Chooses User</option>
                                        <option *ngFor="let employee of employees " value={{employee._id}}>
                                            {{employee.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="assignedTo.invalid && (assignedTo.dirty || assignedTo.touched)"
                                        class="mt-1">
                                        <div class="invalid-input" *ngIf="assignedTo.errors?.['required']">Field is required</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label class="form-label fw-bold">Status</label>
                                    <select class="form-select" aria-label="Default select example" required ngModel
                                        #status="ngModel" name="status">
                                        <option disabled value="">Chooses status</option>
                                        <option value="1">Holding</option>
                                        <option value="2">Processing</option>
                                        <option value="3">Done</option>
                                    </select>
                                    <div *ngIf="status.invalid && (status.dirty || status.touched)" class="mt-1">
                                        <div class="invalid-input" *ngIf="status.errors?.['required']">Status is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label fw-bold" for="description">Description</label>
                                <textarea type="text" id="description" class="form-control" required ngModel
                                    #description="ngModel" name="description"></textarea>
                                <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                    class="mt-1">
                                    <div class="invalid-input" *ngIf="description.errors?.['required']">Description is required</div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                                <button 
                                    type="submit" 
                                    class="btn btn-success" 
                                    data-bs-dismiss="modal"
                                    [disabled]="!dataForm.valid"
                                >
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-3 mt-2 bg-white rounded" style="box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;">
        <table class="table align-middle mb-0 bg-white text-center">
            <thead class="bg-dark text-white">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Start day</th>
                    <th>Project</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Assign</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="tasks.length > 0 && !isFetching">
                <tr *ngFor="let task of tasks | paginate: {itemsPerPage: pageSize, currentPage: currentPageIndex}; index as i">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{task.name}}</td>
                    <td>{{task.createdAt.substr(0, 10)}}</td>
                    <td>{{task.project.name}}</td>
                    <td>{{task.priority == 1 && 'Less Important' || task.priority == 2 && 'Normal' || task.priority == 3 && 'Important'}}</td>
                    <td>{{task.status === 1 && 'Pending' || task.priority == 2 && 'Processing' || task.priority == 3 && 'Done'}}</td>
                    <td>{{task.user.name}}</td>
                    <td>{{task.description}}</td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-sm btn-danger me-2 btn-rounded"
                            data-bs-toggle="modal"
                            data-bs-target="#modalDeleteTask"
                            (click)="deleteTask(task._id)"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg>
                            Delete
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn- btn-primary rounded"
                            data-bs-target="#modalEditTask"
                            data-bs-toggle="modal"
                            (click)="getOneTask(task._id)"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
            <tr *ngIf="tasks.length === 0 && !errorMessage && !isFetching" class="text-center fw-bold">
                <td colspan="9">Not Found</td>
            </tr>
        </table>
    </div>

    <div class="mx-auto text-center mt-4" *ngIf="tasks.length > pageSize">
        <pagination-controls (pageChange)="currentPageIndex = $event" />
    </div>

    <div *ngIf="isFetching && !errorMessage" class="w-100 mt-3 loading">
        <p class="spinner mx-auto"></p>
    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">
        <h4>An error occurred!</h4>
        <p>{{errorMessage}}</p>
    </div>
</div>

<!-- Modal Edit Task -->
<div class="modal modal-lg fade" id="modalEditTask" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật nhiệm vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #dataFormEdit="ngForm" (submit)="updateTask(dataFormEdit)">
                    <!-- Task Name -->
                    <div class="form-outline mb-3">
                        <label class="form-label fw-bold" for="name">Tên nhiệm vụ</label>
                        <input type="text" id="name" required [(ngModel)]="taskEdit.taskName" #taskNameEdit="ngModel"
                            name="name" class="form-control" />
                        <div *ngIf="taskNameEdit.invalid && (taskNameEdit.dirty || taskNameEdit.touched)" class="mt-1">
                            <div class="invalid-input" *ngIf="taskNameEdit.errors?.['required']">Tên nhiệm vụ không được
                                để trống!</div>
                        </div>
                    </div>

                    <!-- Date Start -->
                    <div class="form-outline mb-3">
                        <label class="form-label fw-bold" for="dateStart">Ngày bắt đầu</label>
                        <input type="date" id="dateStart" required [(ngModel)]="taskEdit.dateStart"
                            #dateStartEdit="ngModel" name="dateStart" class="form-control" />
                        <div *ngIf="dateStartEdit.invalid && (dateStartEdit.dirty || dateStartEdit.touched)"
                            class="mt-1">
                            <div class="invalid-input" *ngIf="dateStartEdit.errors?.['required']">Ngày bắt đầu không
                                được để trống!</div>
                        </div>
                    </div>

                    <!-- Project and Priority -->
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold">Dự án</label>
                            <select class="form-select" aria-label="Default select example" required
                                [(ngModel)]="taskEdit.project" #projectEdit="ngModel" name="projectId">
                                <option disabled value="">Chọn dự án</option>
                                <option
                                    *ngFor="let project of projects"
                                    value={{project._id}}
                                    [selected]="taskEdit.project === project._id"
                                >
                                    {{project.name}}
                                </option>
                            </select>
                            <div *ngIf="projectEdit.invalid && (projectEdit.dirty || projectEdit.touched)" class="mt-1">
                                <div class="invalid-input" *ngIf="projectEdit.errors?.['required']">
                                    Vui lòng chọn dự án!
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label fw-bold">Ưu tiên</label>
                            <select class="form-select" aria-label="Default select example" required
                                [(ngModel)]="taskEdit.priority" #priorityEdit="ngModel" name="priority">
                                <option disabled value="">Select Priority</option>
                                <option value="1" [selected]="taskEdit.priority === '1'">Less Important</option>
                                <option value="2" [selected]="taskEdit.priority === '2'">Normal</option>
                                <option value="3" [selected]="taskEdit.priority === '3'">Important</option>
                            </select>
                            <div *ngIf="priorityEdit.invalid && (priorityEdit.dirty || priorityEdit.touched)"
                                class="mt-1">
                                <div class="invalid-input" *ngIf="priorityEdit.errors?.['required']">Vui lòng chọn sự ưu
                                    tiên!</div>
                            </div>
                        </div>
                    </div>

                    <!-- AssignTo and Status -->
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold">Phân công</label>
                            <select class="form-select" aria-label="Default select example" required
                                [(ngModel)]="taskEdit.assignedTo" #assignedToEdit="ngModel" name="userId">
                                <option disabled value="">Select User</option>
                                <option
                                    *ngFor="let employee of employees "
                                    value={{employee._id}}
                                    [selected]="taskEdit.assignedTo === employee._id"
                                >
                                    {{employee.name}}
                                </option>
                            </select>
                            <div *ngIf="assignedToEdit.invalid && (assignedToEdit.dirty || assignedToEdit.touched)"
                                class="mt-1">
                                <div class="invalid-input" *ngIf="assignedToEdit.errors?.['required']">Vui lòng chọn
                                    phân công!</div>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label fw-bold">Trạng thái</label>
                            <select class="form-select" aria-label="Default select example" required
                                [(ngModel)]="taskEdit.status" #statusEdit="ngModel" name="status">
                                <option disabled value="">Select Status</option>
                                <option value="1" [selected]="taskEdit.status === 1">
                                    Pending
                                </option>
                                <option value="2" [selected]="taskEdit.status === 2">
                                    Processing
                                </option>
                                <option value="3" [selected]="taskEdit.status === 3">
                                    Done
                                </option>
                            </select>
                            <div *ngIf="statusEdit.invalid && (statusEdit.dirty || statusEdit.touched)" class="mt-1">
                                <div class="invalid-input" *ngIf="statusEdit.errors?.['required']">Vui lòng chọn trạng
                                    thái!</div>
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="form-outline mb-3">
                        <label class="form-label fw-bold" for="description">Mô tả</label>
                        <textarea type="text" id="description" class="form-control" required
                            [(ngModel)]="taskEdit.description" #descriptionEdit="ngModel" name="description"></textarea>
                        <div *ngIf="descriptionEdit.invalid && (descriptionEdit.dirty || descriptionEdit.touched)"
                            class="mt-1">
                            <div class="invalid-input" *ngIf="descriptionEdit.errors?.['required']">Mô tả không được để
                                trống!</div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Thoát</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            [disabled]="!dataFormEdit.valid">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Task -->
<div class="modal fade" id="modalDeleteTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa nhiệm vụ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-muted">Bạn có chắc chắn muốn xóa nhiệm vụ này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-danger" (click)="confirmDeleteTask()"
                    data-bs-dismiss="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>
